.maindiv {
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px -2px 0px 0px #E7E7F0 inset;
}

.div1 {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.div2 {
    display: inline-block;
    animation: marquee2 20s linear infinite;
    animation-delay: 10s;
}

.maindiv:hover .div1,
.maindiv:hover .div2 {
    animation-play-state: paused;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}