@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-200%);
    }
}

.maindiv {
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px -2px 0px 0px #E7E7F0 inset;
}

.div1,
.div2 {
    padding: 32px 0px;
    display: inline-flex;
    align-items: center;
}

.div1 {
    animation: marquee 60s linear infinite;
    animation-delay: -30s;
}

.div2 {
    animation: marquee2 60s linear infinite;
}