.header {
    margin-top: 32px;
    margin-bottom: 73px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 11.3%;
    right: 11.3%;
    overflow: hidden;
}

@media (max-width: 767px) {
    .header {
        justify-content: center;
        margin-bottom: 105px;
    }
}

@media (min-width: 767px) {
    .header {
        justify-content: space-between;
    }
}

@media (min-width: 1440px) {
    .header {
        margin-bottom: 100px;
        opacity: 1;
    }
    .hide {
        top: -100%;
    }
    .fixed,
    .hide {
        margin: 0;
        padding-left: 11.3%;
        padding-right: 11.3%;
        position: fixed;
        left: 0;
        right: 0;
        height: 95px;
        background-color: rgba(255, 255, 255, 0.808);
        z-index: 2;
        backdrop-filter: blur(16px);
        transition: top .8s ease;
    }
    .fixed {
        top: 0;
    }
}

@media (min-width: 1920px) {
    .header {
        margin-bottom: 86px;
        opacity: 1;
    }
}