.block {
    display: block;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 32px 24px 40px 24px;
    background-color: #131027;
    text-align: center;
}

.container a,
.container {
    color: white;
}

.hiddenLink,
.title {
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.title {
    font-family: 'Visby Regular';
    margin-bottom: 25px;
}

.hiddenLinkContainer {
    margin-bottom: 80px;
    width: fit-content;
    overflow: hidden;
}

.hiddenLink {
    padding-bottom: 17px;
    display: block;
    font-family: 'Visby Light';
}

.hiddenLinkBorder {
    border: 1px solid rgba(152, 150, 168, 0.5);
    transition: border-color .2s ease;
}

.hiddenLinkBorder:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .3s ease;
}

.mail:hover+.hiddenLinkBorder,
.hiddenLink:hover+.hiddenLinkBorder {
    border: none;
}

.mail:hover+.hiddenLinkBorder:before,
.hiddenLink:hover+.hiddenLinkBorder:before {
    display: block;
    border: 1px solid white;
    transform: translateX(0);
}

.infoContainer,
.nav {
    padding-bottom: 50px;
}

.mail {
    padding-bottom: 8px;
    display: block;
    /* border-bottom: 2px solid rgba(152, 150, 168, 0.5); */
    font-family: 'Visby Semibold';
    font-size: 24px;
}

.mail+.hiddenLinkBorder {
    margin-bottom: 25px;
}

.firmInfo {
    font-size: 20px;
    line-height: 240%;
}

.navLinks {
    font-family: 'Visby Medium';
    font-size: 20px;
    letter-spacing: -0.01em;
}

.firmInfo,
.lisence {
    color: #9896A8
}

.lisence {
    line-height: 160%;
}

.firmInfo:not(:last-child),
.navLinks:not(:last-child) {
    margin-bottom: 16px;
}

@media (min-width:768px) {
    .container {
        padding: 208px 64px 64px 64px;
        align-items: flex-start;
    }
    .title {
        width: 74%;
        text-align: start;
    }
    .hiddenLink,
    .title {
        font-size: 56px;
        line-height: 108%;
    }
    .hiddenLinkContainer {
        margin-bottom: 178px;
    }
    .hiddenLink {
        font-family: 'Visby Regular';
    }
    .mail {
        width: fit-content;
    }
    .firmTaxInfo {
        display: flex;
    }
    .firmInfo:first-child {
        margin-right: 32px;
    }
    .nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: start;
    }
    .navLinks {
        flex: 0 0 30%;
        line-height: 240%;
        letter-spacing: unset;
    }
    .navLinks:not(:last-child) {
        margin-bottom: auto;
    }
    .navLinks:nth-child(-n+3) {
        margin-bottom: 25px;
    }
    .lisence {
        font-size: 20px;
        text-align: start;
    }
}

@media(min-width: 1440px) {
    .container {
        padding: 273px 160px 100px 160px;
    }
    .hiddenLink,
    .title {
        font-size: 80px;
        line-height: 120%;
    }
    .title {
        width: fit-content;
    }
    .hiddenLinkContainer {
        margin-bottom: 268px;
    }
    .infoNav {
        display: flex;
        justify-content: space-between;
    }
    .infoContainer {
        width: 50%
    }
}

@media (min-width:1920px) {
    .container {
        padding: 273px 208px 100px 208px;
    }
    .infoNav {
        width: 80%;
    }
}