button {
    font-family: 'Visby Italic';
    font-size: 16px;
}

.button {
    padding: 17px 24px;
    color: #3E24EA;
    border-radius: 150px;
    border: 1px solid #3E24EA;
    text-align: center;
}

.button:hover,
.button:active {
    color: white;
    background-color: #3E24EA;
}

.button:active {
    border: 1px solid white;
}

.inverse {
    width: 100%;
    padding: 17px 24px;
    color: #3E24EA;
    background-color: white;
    border-radius: 150px;
    border: 1px solid #3E24EA;
    text-align: center;
}

.inverse:hover,
.inverse:active {
    color: white;
    background-color: #3E24EA;
}

.inverse:active {
    border: 1px solid white;
}

.block {
    display: block;
}

.header {
    background-color: rgba(102, 102, 102, 0);
}

.header:hover,
.header:active {
    color: white;
    background-color: #3E24EA;
}

@media (min-width: 1440px) {
    .button,
    .inverse {
        padding: 29px 40px;
        font-size: 22px;
    }
}