button {
    font-family: 'Visby Italic';
    font-size: 16px;
}

.button {
    position: relative;
    padding: 17px 24px;
    color: #3E24EA;
    border-radius: 150px;
    border: 1px solid #3E24EA;
    text-align: center;
    transition: color 1s;
    overflow: hidden;
}

.button:hover,
.button:active,
.inverse:hover,
.inverse:active,
.header:hover,
.header:active {
    color: white;
    transition: color 1s;
}

.button:before,
.inverse:before,
.header:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    color: white;
    background: #3E24EA;
    border-radius: 100%;
    transition: all 0.7s ease;
    z-index: -1;
}

.button:hover:before,
.inverse:hover:before,
.header:hover:before {
    height: 100%;
    border-radius: 150px;
}

.button:active {
    border: 1px solid white;
}

.inverse {
    position: relative;
    width: 100%;
    padding: 17px 24px;
    color: #3E24EA;
    background-color: white;
    border-radius: 150px;
    border: 1px solid #3E24EA;
    text-align: center;
    transition: color 1s;
    overflow: hidden;
}

.inverse:active {
    border: 1px solid white;
}

.block {
    display: block;
}

.header {
    position: relative;
    background-color: rgba(102, 102, 102, 0);
    overflow: hidden;
}

@media (min-width: 1440px) {
    .button,
    .inverse {
        padding: 29px 40px;
        font-size: 22px;
    }
}