.slider {
    margin-bottom: 50px;
}

.imgStyle {
    width: 100%;
}

.image {
    margin-left: auto;
    margin-right: auto;
    padding: 21.44px;
    margin-bottom: 21.44px;
    margin-right: 21.44px;
    border: 5px solid #F0F0F8;
    border-radius: 26.7973px;
}

@media (min-width: 768px) {
    .image {
        width: fit-content;
    }
}