p,
h1,
h2,
h3,
ul {
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
    font-weight: unset;
    font-size: unset;
}

body {
    margin: auto;
    font-family: 'Visby Medium';
    font-size: 16px;
    line-height: 120%;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.header button,
body {
    color: #131027;
}

.header {
    min-height: 95px;
}

.backgroundHead {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.backgroundVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8vh;
    left: 23vw;
    z-index: -1;
}

.backgroundHeadImg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sectionTitle {
    font-family: 'Visby Regular';
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.orientCenter {
    width: 214px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.paddingSides {
    padding-left: 24px;
    padding-right: 24px;
}

.sectionPadding {
    padding: 50px 24px;
}

@media (min-width: 768px) {
    .paddingSides {
        padding-left: 63px;
        padding-right: 63px;
    }
    .sectionPadding {
        padding: 50px 63px;
    }
    .sectionTitle {
        font-size: 80px;
        line-height: 108%;
    }
}

@media (min-width:1440px) {
    body {
        font-size: 20px;
    }
    .sectionPadding {
        padding: 50px 160px;
    }
    .sectionTitle {
        margin-bottom: 0;
    }
    .paddingSides {
        padding-left: 160px;
        padding-right: 160px;
    }
    .orientCenter {
        width: 294px;
    }
}

@media (min-width:1920px) {
    .sectionTitle {
        margin-bottom: 0;
        font-size: 120px;
    }
    .sectionPadding {
        padding: 50px 208px;
    }
    .paddingSides {
        padding-left: 204px;
        padding-right: 204px;
    }
}