.navigationDiv {
    display: none;
    flex: 0 -1 68%;
    font-size: 16px;
}

.navLink {
    margin-right: 32px;
    overflow: hidden;
}

.navSpan {
    display: block;
    padding-bottom: 5px;
}

.navBorder {
    padding-bottom: unset;
    transform: translateX(-100%);
    border-bottom: 2px solid black;
    transition: transform .3s ease;
}

.navLink:hover .navBorder {
    transform: translateX(0%);
}

.langBtn {
    display: inline;
    padding: 0;
}

.langBtn:hover {
    cursor: pointer;
}

.langBtn,
.langBtn+span {
    color: #13102781;
}

.active {
    color: #3E24EA;
}

@media (min-width: 768px) {
    .navigationDiv {
        display: flex;
    }
    .navLink {
        display: inline-block;
    }
    .navigationDiv button,
    .navLink {
        font-family: 'Visby Medium';
        line-height: 160%;
    }
}