.navigationDiv {
    margin-top: 12px;
    display: none;
    flex: 0 -1 68%;
    font-size: 16px;
}

.navLink {
    margin-right: 32px;
    overflow: hidden;
}

.navSpan {
    display: block;
}

.navBorder {
    padding-top: 5px;
    padding-bottom: unset;
    transform: translateX(-100%);
    border-bottom: 2px solid black;
    transition: all .3s ease;
}

.langBtn {
    display: inline;
    padding: 0;
}

.langBtn:hover {
    cursor: pointer;
}

.langBtn,
.langBtn+span {
    color: #13102781;
}

.active {
    color: #3E24EA;
}

@media (min-width: 768px) {
    .navigationDiv {
        display: flex;
    }
    .navLink {
        display: inline-block;
    }
    .navigationDiv button,
    .navLink {
        font-family: 'Visby Medium';
        line-height: 160%;
    }
}

@media(min-width:1440px) {
    .navLink:hover .navBorder {
        transform: translateX(0%);
    }
}