@keyframes animSlide {
    0% {
        transform: translateX(0%)
    }
    25% {
        transform: translateX(-5%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0%)
    }
}

.cardAnim {
    animation: animSlide 2s ease-out 3;
}

.li {
    display: flex;
    width: 90%;
    align-items: center;
}

.block {
    display: block;
}

.slide {
    padding: 40px 24px;
    height: 930px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    line-height: 160%;
}

.price,
.slideTitle {
    font-family: 'Visby Bold';
}

.price {
    font-size: 24px;
    line-height: 160%;
}

.slideTitle {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #131027;
}

.subTitle {
    margin-bottom: 16px;
    font-size: 20px;
}

.borderBottom {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 2px solid #F0F0F9;
}

.borderTop {
    padding-top: 24px;
    border-top: 2px solid #F0F0F9;
}

.listItem {
    font-size: 20px;
    line-height: 160%;
}

.listItem:not(:last-child) {
    margin-bottom: 8px;
}

.padding24 {
    padding-bottom: 24px;
}

.image {
    width: 20px;
    height: 20px;
    margin-right: 14px;
}

.ui {
    margin: 0;
}

.ui li {
    margin-left: 36px;
}

.flex25,
.flex33,
.flex40 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex25 {
    flex: 0 0 25%;
}

.flex33 {
    flex: 0 0 22%;
}

.flex40 {
    flex: 0 0 37%;
}

.justifyStart {
    justify-content: start;
}

@media (min-width:768px) {
    .btnContainer button {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .slide {
        height: 1167px;
        padding: 40px;
    }
    .slideTitle {
        width: 76%;
        line-height: 160%;
        letter-spacing: unset;
    }
    .flex33 {
        flex: 0 0 32%;
    }
    .price {
        font-size: 32px;
    }
    .btnContainer a {
        font-size: 21px;
        line-height: 152%;
    }
}

@media (min-width:1440px) {
    .slideTitle,
    .price {
        font-size: 32px;
    }
    .price {
        width: 55%;
    }
    .slide {
        height: 1267px;
    }
}

@media (min-width: 1920px) {
    .slide {
        height: 1172px;
    }
    .price {
        width: auto;
    }
}