.questionContainer {
    padding-top: 50px;
    padding-bottom: 50px;
    /* border-bottom: 1px solid #DDDCE7; */
}

.questionContainer:not(:first-child) {
    border-top: 1px solid #DDDCE7;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title,
.answer {
    width: 80%
}

.title {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
}

.btn {
    flex: 0 0 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E24EA;
    border-radius: 150px;
    transition: transform .5s;
}

.btn.rotate {
    transform: rotate(180deg);
    transition: transform .5s;
}

.answer {
    margin-top: 15px;
    line-height: 160%;
    height: 100%;
    opacity: 1;
    transition: all 0.2s linear;
}

.answer.hidden {
    height: 0;
    opacity: 0;
    margin-top: 0;
}

@media (min-width:768px) {
    .question {
        font-size: 20px;
    }
    .answer {
        margin-top: 25px;
        width: 90%;
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .title {
        font-size: 28px;
        line-height: 140%;
        letter-spacing: unset;
    }
    .answer {
        font-size: 20px;
    }
}

@media (min-width: 1920px) {
    .question {
        font-size: 28px;
    }
}