.sectionTen {
    color: white;
    background-color: #3E24EA;
    border-radius: 40px;
    transform: translate(0, 0);
}

.container {
    padding: 0px 24px;
}

.marginBottom50 {
    margin-bottom: 50px;
}

.title {
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: 'Visby Regular';
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.containerImg {
    display: flex;
    height: 300px;
}

.first_line {
    margin-bottom: 40px;
}

.image:not(:last-child) {
    margin-right: 40px;
}

.firstLine {
    left: 25%;
}

.secondLine {
    left: 0;
}

.padding25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.width50 {
    width: 50%;
}

.item {
    display: block;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.01em;
}

.item:not(:first-child) {
    box-shadow: 0px 1px 0px 0px #9F92F5 inset;
}

.item:nth-child(-n+2) {
    padding-right: 42%;
}

.textItemWidth {
    width: 100%;
}

.btn button {
    width: 100%;
}

@media(min-width:768px) {
    .sectionTen {
        margin: 0 14px 0 14px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    .title {
        font-size: 56px;
        line-height: 108%;
    }
    .container {
        padding: 0px 50px;
    }
    .description {
        font-size: 24px!important;
        line-height: 150%!important;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .item:not(:first-child) {
        box-shadow: unset;
    }
    .item {
        padding-bottom: 50px;
        padding-top: 50px;
        flex: 0 0 50%;
        font-size: 20px;
    }
    .item:nth-child(-n+2) {
        padding-right: 0;
    }
    .item:nth-last-child(2) {
        border: none
    }
    .item:nth-child(-n+2) .textItemWidth {
        width: 54%;
    }
    .item:nth-child(n+3) {
        box-shadow: 0px 2px 0px 0px #9F92F5 inset;
    }
    .btn {
        width: fit-content;
    }
    .first_line {
        margin-bottom: 40px;
    }
}

@media(min-width: 1440px) {
    .sectionTen {
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: auto;
    }
    .container {
        padding: 50px 110px;
    }
    .title,
    .description {
        width: 80%;
    }
    .title {
        font-size: 60px;
        line-height: 130%;
    }
    .item {
        font-size: 28px;
        line-height: 140%;
    }
    .item:nth-child(-n+2) .textItemWidth,
    .item:last-child .textItemWidth {
        width: 100%;
    }
    .item:nth-last-child(2) .textItemWidth {
        width: 76%
    }
    .item:nth-child(n+3) {
        padding-bottom: unset;
    }
    .btn {
        width: 28.5%;
        padding-top: 14px;
    }
}

@media (min-width:1920px) {
    .sectionTen {
        margin-left: 100px;
        margin-right: 100px;
        padding-bottom: 0;
    }
    .container {
        padding: 50px;
    }
    .title,
    .description {
        width: 60%;
    }
    .title {
        font-size: 60px;
    }
    .firstLine {
        left: 17%;
    }
    .list {
        width: 70%;
        margin-left: 0;
    }
    .item:last-child .textItemWidth {
        width: 95%
    }
    .btn {
        padding-top: 14px;
    }
}